body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #444;
    background-image: url(itachi.jpg);
    
    
    
    
}

header {
    background: #cd1818;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: #9e3838;
    
}

nav a {
    color: rgb(213, 208, 208);
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
}

nav a:hover {
    background: #2d2b2b;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
    justify-items: center;
    color: #fff;
    
    
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5rem;
    
    
    background: none;
    

}

table th, table td {
    
    padding: 0.6rem;
    text-align: center;
    background: #ee5959;
    background: none;

    
   
}

table th {
    background: none;
    font-weight: bold;
    background-color: #e45353;
    font-weight: bold;

    
}

ul{
    color: rgb(220, 220, 220);
}




